<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-4">
      <img
        [src]="cocktail.imageUrl" alt="{{ cocktail.name }}"
        style="max-width: 100%;"
        (click)="openCheckoutModal()"
      />
    </div>
    <div class="col-sm-3">
      <div class="card-body">
        <h5 class="card-title">Name: {{ cocktail.name }}</h5>
        <p class="card-text small"><strong>Type:</strong> {{ cocktail.type }}</p>
      </div>
    </div>
  </div>
</div>

<app-modal
  title="Go to check out?"
  [isOpen]="modalOpen"
  (close)="closeCheckoutModal()"
>
  <div class="modal-body">
    <h3>Cocktail name: {{ cocktail.name }}</h3>
    <div>
      <img
        [src]="cocktail.imageUrl"
        alt="{{ cocktail.name }}"
        style="max-width: 50%;"
      />
      <p>Type: {{ cocktail.type }}</p>
      <p>Description: {{ cocktail.description }}</p>
      <div *ngFor="let ingredient of cocktail.ingredients; let i = index">
        <p>Ingredients: {{ i }}</p>
      </div>

      <p>Preparation description: {{ cocktail.prepDescription }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" (click)="closeCheckoutModal()">Close</button>
  </div>
</app-modal>

