<h4>Cocktails</h4>

<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>

<ng-container *ngIf="!isFetching">

  <app-cocktail-item
    *ngFor="let cocktail of cocktails"
    [cocktail]="cocktail"
  ></app-cocktail-item>
</ng-container>


