<div class="container">
  <div>
    <h3>Create new cocktail</h3>
  </div>
  <div class="row mt-3">
    <form [formGroup]="cocktailForm" (ngSubmit)="onSubmit()" #f="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          id="name"
          class="form-control"
        >
      </div>
      <small
        *ngIf="fieldHasError('name', 'required')"
        class="form-text invalid-form-text"
      >
        Enter cocktail's name
      </small>
      <div class="form-group">
        <label for="imageUrl">Image Url</label>
        <input
          type="text"
          formControlName="imageUrl"
          id="imageUrl"
          class="form-control"
        >
      </div>
      <small
        *ngIf="fieldHasError('imageUrl', 'url')"
        class="form-text invalid-form-text"
      >
        Enter correct url address
      </small>
      <small
        *ngIf="fieldHasError('imageUrl', 'required')"
        class="form-text invalid-form-text"
      >
        Enter url address of the image
      </small>
      <div class="form-group">
        <p>Select type</p>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="alcohol"
            value="alcohol"
            formControlName="type"
          />
          <label
            class="form-check-label"
            for="alcohol">Alcohol cocktail</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            id="mocktail"
            value="mocktail"
            formControlName="type"
          />
          <label
            class="form-check-label"
            for="mocktail">Mocktail</label>
        </div>
        <small
          *ngIf="fieldHasError('type', 'required')"
          class="form-text invalid-form-text"
        >
          Select type
        </small>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          formControlName="description"
          id="description"
          class="form-control"
          cols="30"
          rows="10"></textarea>
      </div>
      <small
        *ngIf="fieldHasError('description', 'required')"
        class="form-text invalid-form-text"
      >
        Write some description
      </small>
      <div class="form-group" formArrayName="ingredients">
        <button
          type="button"
          class="btn btn-outline-info mb-2"
          (click)="addIngredient()"
        >Add ingredient</button>
        <div class="form-inline " *ngFor="let ingredientControl of getIngredientControls(); let i = index">
          <div [formGroupName]="i">
            <input
              type="text"
              formControlName="ingredientName"
              id="ingredientName"
              class="form-control mr-1"
              placeholder="Ingredient name"
            >
            <small
              *ngIf="fieldHasError('ingredientName', 'required')"
              class="form-text invalid-form-text"
            >
              Enter ingredient name
            </small>

            <input
              type="number"
              formControlName="measure"
              class="form-control mr-1"
              id="measure"
              placeholder="Amount">
            <small
              *ngIf="fieldHasError('measure', 'required')"
              class="form-text invalid-form-text"
            >
              Enter measure
            </small>
            <select
              class="form-control mr-1"
              type="text"
              formControlName="quantity"
            >
              <option value="">Select quantity</option>
              <option value="ml">Ml</option>
              <option value="m">Piece</option>
              <option value="l">Gram</option>
            </select>
            <small
              *ngIf="fieldHasError('quantity', 'required')"
              class="form-text invalid-form-text"
            >
              Select quantity
            </small>
            <button type="button" class="btn btn-dark" (click)="removeIngredient(i)">Delete</button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="prepDescription">Preparation description</label>
        <textarea
          formControlName="prepDescription"
          id="prepDescription"
          class="form-control"
          cols="30"
          rows="10"></textarea>
      </div>
      <small
        *ngIf="fieldHasError('prepDescription', 'required')"
        class="form-text invalid-form-text"
      >
        Write preparation description
      </small>
      <div class="form-group">
        <button
          class="btn btn-primary"
          type="submit"
          (click)="saveCocktail()"
          [disabled]="f.invalid"
        >Save</button>
      </div>
    </form>
  </div>
</div>
